header{
     max-width:100%;
    margin: auto;
    width: 980px;
    display: flex;
}
.header-logo img{
    width: 100px;
    height: 35.74px;
    margin: 12px 0px;
}
.header-list{
    font: Bold 18px/31px YuGothic;
    margin-left: auto;
    padding: 21px 0px 21px 0px;
    
}
.header-list a{
    color: #333;
    text-decoration: none;
}
.header-list2{
    margin: 0px 40px;
}

.header-list1:hover{
    text-decoration:underline;
}
.header-list2:hover{
    text-decoration:underline;
}
.header-list3:hover{
    text-decoration:underline;
}
.section-contents1{
    background-image:url(./img/mv.jpg);
    background-position: center;    
    padding: 216px 0px 216px 0px;
    background-size: 100%;
    text-align: center;
}
section img{
    width: 270px;
    height: 144px;
}
main{
    max-width:100%;
    margin: auto;
    width: 980px;
    text-align: center;
}
.main-title{
    font-size: 32px;
    line-height: 1.68;
    margin-top: 100px;
    font: Bold 32px/54px YuGothic;
}
.main-text p{
    font-size: 20px;
    line-height: 1.7em;
    margin-top: 50px;
    font: Medium 20px/34px YuGothic;
}
.main-text3{
    margin-bottom: 100px;
}
.article-section{
    background-color: #F6F6F6;
}
.article-title{
    max-width:100%;
    margin: auto;
    width: 980px;
}
.article-contents1,.article-contents2,.article-contents3{
    display: flex;
    margin-top: 100px;
}
.article-contents1 img,.article-contents2 img,.article-contents3 img{
    width: 450px;
    height: 278px;
}
.article-contents1 img,.article-contents3 img{
    margin-right: 50px;
}
.article-contents2 img {
    margin-left: 50px;
    margin-right: 20px;
}
.article-contents2{
    flex-direction: row-reverse;
}
.article-contents3 img{
    margin-bottom: 100px;
}




.article-section2{
    max-width:100%;
    margin: auto;
    width: 980px;
}
.title-text{
    font-size: 40px;
    line-height: 1.7;
    padding-top: 100px;
    text-align: center;
    font: Bold 40px/68px YuGothic;
}
.contents-title,.contents-title1{
    font-size: 26px;
    line-height: 1.69;
    margin-bottom: 43px;
    border-bottom: 3px solid #AE0009;
    font:Bold 26px/44px YuGothic;
}
.text-contents{
    font-size: 18px;
    line-height: 1.72;
    font: Medium 18px/31px YuGothic;
    width: 460px;
}
.section1 img{
    width: 300px;
    height: 185px;
    margin-top: 70px;
}
.section1 p{
    line-height: 1.68;
    margin-top: 20px;
    width: 300px;
    margin-bottom: 129px;
    font:Medium 16px/27px YuGothic;;
}
.section0{
    display: flex;
    justify-content: space-between;
}


.section-contents2{
    background-image:url(./img/bg.jpg);
    background-size: 100%;
}
.section-contents2-1{
    font-size: 18px;
    line-height: 1.72;
    color: #fff;
    max-width:100%;
    margin: auto;
    width: 980px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 100px 0px 100px 0px;
}

.section-contents3-1{
    width: 500px;
    position: relative;
    left: 481px;
    font: Bold 18px/31px YuGothic;;
}
.section-contents3-2{
    position: relative;
    left: 481px;
    top: 40px;
    width: 500px;
    font:Bold 18px/31px YuGothic;;
}
.aside-contents,.aside-contents1{
    display: flex;
    border-top: 1px solid #707070;
   
}
.aside-section{
    max-width:100%;
    margin: auto;
    width: 980px;
    text-align: center;
}
.aside-contents0{
    margin-top: 94px;
    line-height: 2.5;
}
.aside-3{
    text-decoration: none;
    color: #333333;
    font: Medium 16px/40px YuGothic;;
}
.aside-3:hover{
    text-decoration:underline;
}
.aside-contents1{
    border-bottom:1px solid #707070;
    margin-bottom: 50px;
}
.aside-2{
    padding: 0px 26px;
    color: #AE0009;
    border: 1px solid;
    margin: 13px 36px 9px 16px;
    font: Medium 16px/40px YuGothic;;
    height: 37px;
}
.aside-1{
    font: Bold 16px/40px YuGothic;;
}
.aside-1,.aside-3{
    margin: 13px 0px 13px 0px;
}
.aside-contents1-1{
    display: flex;
}
button{
    outline: none;
    font-size: 18px;
    line-height: 1.72;
    padding: 10px 35px;
    background-color: #AE0009;
    color: #fff;
    font: Bold 18px/31px YuGothic;;
}
.btn1{
    text-align: center;
    margin-top: 40px;
}
button:hover{
    text-decoration:underline;
}
footer{
    background-color: #AFAFAF;
    margin-top: 110px;
    color: #fff;
}

.footer-contents1,.footer-contents1-1{
    
    margin: 70px 41px 29px 0px;
    line-height: 2.5;
    border-bottom: 1px solid;
    font: Bold 16px/40px YuGothic;

}
.footer-title{
    display: flex;
    max-width:100%;
    margin: auto;
    width: 980px;
    justify-content:center;
}
.footer-list{
    line-height: 1.68;
    margin-bottom: 70px;
    font: Medium 16px/27px YuGothic;;
}
.footer-footer{
    background-color: #797979;
    font-size: 12px;
    line-height: 3.75;
    text-align: center;
    color: #fff;
    padding: 19px 0px;
}
